<div class="row">
<div class="span12">
<h2>cgpriceへようこそ！現在α版運用中です。 </h2>
</div>

<hr />


<div class="span6">
  <dl>
  <dt>このサイトは何？</dt>
  <dd>「アイドルマスター シンデレラガールズ」の相場ウォッチ用サイトです。2chの最新トレードスレから価格情報を取得して、相場観に役立てることが出来ます。</dd>

  <dt>このサイトは何「ではないか」</dt>
  <dd>具体的な取引を行うためのものではありません。あくまで相場を知る、その一助のためのサイトです。</dd>

  <dt>動作の安定性</dt>
  <dd>必要最低限のテストしか出来ていません。不具合を発見した場合、<a href="https://twitter.com/tackman" target="_blank">@tackman</a>へ連絡をお願いします。</dd>
  <dd>α版＝真性人柱版版ですよ！</dd>
  </dl>

  <dt>未実装の機能</dt>
  <dd>現時点で、出/求の区別をしていません。</dd>
  <dd>アイドル名の認識に問題があります。例えば［元気120%］高槻やよい のようなアイドル名の場合、SRと共にRの「高槻やよい」もカウントされてしまいます。</dd>
  <dd>これらの機能は将来実装されるかもしれません。</dd>
</div>

<div class="span6">
  <dl>
  <dt>利用を開始するには？</dt>
  <a href="/list">アイドル一覧</a>から、目的のアイドルを探してください。

  <dt>情報が更新されていない気がする</dt>
<a href="/refresh">手動で更新をかけてみてください。</a>このURLを叩くと更新が走ります。一応外部から定期的に叩くようにはしていますが、何かの拍子に動かなくなっているかもしれません。

  </dl>

  <dt>免責</dt>
  <dd>当サイトの価格情報は一切の正確性を保証しません。っていうか多分バグある。トレードはご自身の責任で、人柱サイトのご利用は計画的に。</dd>
</div>

<hr />

<div class="span12" style="font-family:'ＭＳ Ｐゴシック';font-size:16px;line-height:18px;">
　　　　　　　　　　　　　　　　　　　　　　　　　　　 「rラ=＜三三┬.､<br />
　　　　　　　　　　　　　　　　　　　　　　　　　,ィ´::｀ー''´ﾊ＝=ﾆﾌ::::::＼　　　　　　　＿＿＿<br />
　　　　　　　　　　　　　　　　　　　　　　　 ／:::::::::::::::::::::|　＼::::::::::::::::::::＼　　　　　　　　／<br />
　　　　　　　　　　　　　　　　　　　　　r=/:::::::::::::::::::::::::::::＼／::::::::::::::::::::::::ヽ　　　　　　（＿<br />
色々足りないところは　　　 　 　 　 《/::::::::::::::::::::::::::､::::::::＼:::::::::::::::::::::::::::∧<br />
　　　　　　　　　　　　　　　　　　　　//::::::::::::::::､､:::::::::::＼:::＼＼::::::::::::::::::::::::∧　　　/＼<br />
　大目に見てくださいねっ　　　　.//!::::::::::l:::::::|＼::::::::::::::＞-＼ﾊ::::::::::::::::::::::::ﾊ　　/　　.＼<br />
　　　　　　　　　　　　　　　　　　　｀ｰ|::::::::::ヽ::::ﾊ　＼＞'´,.‐　　 ＼:::::::::::::::::::::::::!<br />
　　　　　　　　　　　　　　　　　　　　 ,l==､､:::::＼_〉　　　/　　/　,　 ∨::::::::::::::::::::|　　　　/＼ O<br />
　　　　　　　　　　　　　　　　　　　 /　rﾍ 〉》､_〉__　 　　　　/／　　 |::::::::::::::::::::└‐ｧ 　/　　＼ <br />
　　　　　　　　　　　　　　　　　 　./　〈 ハ_||Y / r┬､ 　 　 '　　　　 |::::|::::::|::::::::::::_＞　　　 ＿_<br />
　　　　　　　　　　　　　　　　　　/　　 }ヽ-'_ﾉ＼ | .Pﾊ　　　　　　　　!:::|::::::l::::::::::::::::＼　 ￣＿/<br />
　　　　　　　　　　　　　　　　　 /　　 /__／::::::::ﾊヽ｀ｰ'　,　　　 l⊃　 !:::|:::/＼:::＼￣￣ 　　 　｀ヽ<br />
　　　　　　　　　　　　　　　　　l　　　/　 ＼:::::::::::＼　　 　 ＿ノ　　./|/|∧: : :l｀ヾミ　　　　 ＿_ノ<br />
　　　　　　　　　　　　　　　　　!　　｜　　　 ＼::::::::::＞-　..,,＿＿／　　　/: : :!: ::/: :＼<br />
　　　　　　　　　　　　　　　　 .l　　　|　　　　　 ＼l＼::::::／: : /: ∧　　　/: : : |: /: : : : ﾊ　　　　　つ<br />
　　　　　　　　　　　　　　　　 l　　　 !　　　　　　　　,イ: : : ::/: /-　-─/: : : : |/: : : : : :∧<br />
　　　　　　　　　　　　　　　　 !　　　 |　　　　_,へ´￣: : :|／: :/　　 　 /: : : : :/l: : : : : : : ∧__　　 l⌒Y⌒l<br />
　　　　　　　　　　　　　　　　.|　　　　!　　 「: : : : : : : :／: ,ﾍ/＼＿_,//ﾍ: : :/l :l: : : : :／ : : :ﾊ　　ヽ　　 /<br />
　　　　　　　　　　　　　　　　|　　　　 |,. -'´| : : : : : :く_／: / rﾗﾄ､ //: : ::＼| |: :＼／: : : : : :__〉　　 ＼/<br />
　　　　　　　　　　　　　　　　|　　　　 |　　　∨: : : : ::/__]:/　//ll''/: : : : : : : : |: : ::|: : : : ::／　＼<br />
　　　　　　　　　　　　　　　　|　　　　 |　　　　∨: : :/__//　// ||/く￣｀l: : : : :l_: : /＼_:/　 　 　 ＼<br />
　　　　　　　　　　　　　　　　|　　　　　　,.　'&quot;´ヾ='/: : /　　｀　/: |: ﾟ´:/: : : ://: /　　　＼　　　　 　＼<br />
</div>

</div> <!-- row -->