<h3><%- title %></h3>
<p> 
<table>
<tr>
<th>価格</th><th>頻度</th>
</tr>
<%
  var ary = []; 
  var price;
  var elem;
  var i;
  var bar;
  for( price in data){
    var obj = {};
    obj.price = price;
    obj.quant = data[price];
    ary.push(obj);
  }

  ary.sort(function(a,b){  return a.price - b.price});

  for( key in ary ){
    elem = ary[key];
    bar = "";
    for(i=0; i < elem.quant; ++i){
      bar += '■';
    }
%>
<tr><th><%= elem.price %></th><th><%= elem.quant %></th>
<th style="text-align:left;"><%= bar %></th></tr>
<% }  %>
</table>
</p>

