<h3>対応しているアイドル名一覧</h3>
<%
var name;
var enc;
var i;
for(i=0; i < list.length; ++i){
   name = list[i];
   enc = encodeURI(name); %>
<div class="span2"><a href="/show?name=<%- enc  %>"><%- name  %></div>
<% } %>
